@import "variables.scss";
@import "mixins.scss";

/* ----- COMMON STYLES START ----- */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  background: none;
  border: 0;
  display: inline-flex;
  transition: $tr_time;
  padding: 10px;
}
input {
  font: inherit;
  border: 0;
}
img {
  object-fit: cover;
}
body {
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  background-color: $page_bg;
  color: $text_color;
}
a {
  color: $text_color;
  padding: 10px;
  transition: $tr_time;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  margin-left: -10px;
}
.dropmenu-wrap {
  position: relative;
  &:focus-within {
    .dropmenu {
      visibility: visible;
      opacity: 1;
      box-shadow: 0 0 27px -7px #00000012;
    }
  }
}
.dropmenu {
  opacity: 0;
  visibility: hidden;
  transition: $tr_time;
  background-color: $dropmenu_bg;
  white-space: nowrap;
  border-radius: 8px;
  padding: 20px 0;
}
.drop {
  position: absolute;
  right: 0;
  top: 40px;
  width: 176px;
  z-index: 10;
}
.dropitem {
  transition: $tr_time;
  &:hover,
  &:focus-within {
    background: hsla(215, 46%, 95%, 0.6);
    backdrop-filter: blur(54.3656px);
  }
}
.droplink {
  width: 100%;
  justify-content: center;
}
.tabs {
  display: flex;
  column-gap: 36px;
  &__link {
    color: $text_color_disabled;
    text-transform: uppercase;
    padding-bottom: 23px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 4px solid transparent;
    transition: $tr_time;
    &:hover,
    &:focus-within {
      color: $text_color;
    }
    &.tabs__link--active {
      color: $text_color;
      border-image: linear-gradient(135deg, #ff974f 55%, #e32c75 100%);
      border-image-slice: 1;
      transition: $tr_time;
    }
  }
}
.user {
  display: flex;
  flex-direction: column;
  width: 350px;
  line-height: 1.25;
  @include font("Open Sans", 400, 16px);
  &__header {
    display: flex;
    align-items: flex-start;
    padding-right: 10px;
    margin-bottom: 32px;
  }
  &__img {
    border-radius: 50%;
  }
  &__desc {
    max-width: 145px;
    margin-left: 24px;
  }
  &__name {
    @include font("Montserrat", 600, 24px);
    margin-bottom: 8px;
    line-height: 1;
    text-transform: capitalize;
  }
  &__nickname {
    margin-bottom: 6px;
  }
  &__edit-btn {
    color: $brand_color;
    padding-left: 30px;
    background-image: url(../img/pencil.svg);
    background-repeat: no-repeat;
    background-position: 0 47%;
    text-decoration: underline;
    text-transform: capitalize;
  }
  &__menu-img {
    object-fit: contain;
  }
  &__menu-btn {
    margin-left: 15px;
  }
  &__menu {
    top: 45px;
    right: -137px;
    font-weight: 600;
    &-link {
      column-gap: 16px;
      align-items: center;
    }
  }
  &__stats {
    display: flex;
    column-gap: 58px;
    margin-bottom: 24px;
    &-item {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    &-title {
      line-height: 1.5;
    }
    &-value {
      line-height: 1.33;
      @include font("Open Sans", 700, 18px);
    }
  }
  &__summary {
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
  }
}
.switcher {
  &__switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    font-size: 0;
    &:focus-within {
      outline: 2px solid $text_color;
      border-radius: 30px;
    }
  }
  &__checkbox {
    // display: none;
    appearance: none;
    &:checked + .switcher__slider {
      background-color: $brand_color2;
      &::before {
        transform: translateX(15px);
      }
    }
    &:focus + .switcher__slider {
      box-shadow: 0 0 1px $brand_color2;
    }
  }
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $brand_color2;
    transition: $tr_time;
    &.round {
      border-radius: 30px;
      &::before {
        border-radius: 50%;
      }
    }
    &::before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 3px;
      background-color: $page_bg;
      transition: $tr_time;
    }
  }
}
.post-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 374px;
  min-height: 280px;
  background-color: $post_card_bg;
  border-radius: 8px;
  padding: 14px 24px;
  line-height: 1.2;
  &__link {
    align-items: center;
    flex-wrap: wrap;
    margin-left: -10px;
    column-gap: 4px;
    & ~ .post-card__text {
      margin-top: 0;
    }
    &-hash {
      background-color: #ecf1f8;
      border-radius: 6px;
      margin-right: -10px;
    }
  }
  &__text {
    @include font("Montserrat", 400, 36px);
    margin-bottom: 32px;
    margin-top: 46px;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    font-size: 14px;
  }
  &__author {
    column-gap: 8px;
    align-items: center;
    margin-left: -10px;
  }
  &__img {
    border-radius: 50%;
    background-color: #b2b3bb;
  }
  &__share {
    margin-right: -10px;
    font-size: 18px;
    color: $brand_color;
    font-weight: 400;
  }
  &__activity {
    display: flex;
    column-gap: 16px;
    &-item {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
  }
}
.another-page {
  padding-top: 100px;
  padding-bottom: 500px;
  &__title {
    font-size: 36px;
    margin-bottom: 25px;
  }
}
/* ----- COMMON STYLES END ----- */
