@import "variables.scss";
@import "mixins.scss";

/* ----- COMMON STYLES START ----- */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  background: none;
  border: 0;
  display: inline-flex;
  transition: $tr_time;
  padding: 10px;
}
input {
  font: inherit;
  border: 0;
}
img {
  object-fit: cover;
}
body {
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  background-color: $page_bg;
  color: $text_color;
}
a {
  color: $text_color;
  padding: 10px;
  transition: $tr_time;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  margin-left: -10px;
}
@import "dropmenu.scss";
@import "tabs.scss";
@import "user.scss";
@import "switcher.scss";
@import "post-card.scss";
.another-page {
  padding-top: 100px;
  padding-bottom: 500px;
  &__title {
    font-size: 36px;
    margin-bottom: 25px;
  }
}
/* ----- COMMON STYLES END ----- */
