//VARIABLES
$header_bg: hsl(0, 0%, 100%);
$page_bg: hsl(216, 45%, 98%);
$dropmenu_bg: hsla(0, 0%, 100%, 0.94);
$post_card_bg: hsl(0, 0%, 100%);
$brand_color: hsl(358, 83%, 65%);
$brand_color2: hsl(352, 81%, 63%);
$text_color: hsl(235, 16%, 29%);
$text_color_disabled: hsla(235, 16%, 29%, 0.6);
$tr_time: 0.3s;
